<div class="container">
  <div class="columns is-centered">
    <div class="column is-4">
      <div class="box p-5 mt-5 has-background-link-light is-flex is-justify-content-center is-align-items-center is-flex-direction-column">
        <h2 class="is-size-3 mb-5">Login Usuário</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email, class: "label" %>
              <div class="control">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
              </div>
          </div>

          <div class="field">
            <%= f.label :password, class: "label" %>
            <div class="control">
              <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
            </div>
          </div>
          

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me, class:"mr-2" %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions is-flex is-flex-direction-column">
            <%= f.submit "Entrar",class: "button is-info mb-3" %>
            <%= render "users/shared/links" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

