<h1 class="title">Receitas</h1>

<% if notice %>
    <div class="notification is-success">
        <%= notice%>
    </div>
<% end %>

<%= link_to "Cadastrar", new_user_system_revenue_path, class:"button is-info mb-3"%>

<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
        <tr>
            <td>ID</td>
            <td>Título</td>
            <td>Descrição</td>
            <td>Categoria</td>
            <td colspan="2"></td>
        </tr>
    </thead>
    <tbody>
    <% @revenues.each do |revenue| %>
        <tr>
            <td><%= revenue.id %></td>
            <td><%= revenue.title %></td>
            <td><%= revenue.description %></td>
            <td><%= revenue.category.description %></td>
            <td>
                <%= link_to "Mostrar", nil, class:"button is-primary mr-3"%>

                <%= link_to "Editar", edit_user_system_revenue_path(revenue), class:"button is-info mr-3"%>

                <%= link_to "Remover", nil, class:"button is-danger"%>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
