<div class="container">
<h1 class="title mt-5">Receitas</h1>
    <% @categories.each do |category| %>
        <h2 class="title mb-5"><%= category.description %></h2>
        <div class="custom-scrollbar cards mb-5">
            <% category.revenues.each do |revenue| %>
            <div class="card card-width mr-5 mb-3 p-2">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4"><%= revenue.title %></p>
                            <p class="subtitle is-7">
                            <%= link_to revenue.user.email, nil %></p>
                        </div>
                    </div>

                    <div class="content is-flex is-flex-direction-column">
                        <span class=""><%= truncate(revenue.description, :length => 20) %></span>
                    </div>
                </div>

                <div class="buttons is-flex is-justify-content-center mb-2">
                    <%= link_to "Visualizar", nil, class:"button is-info" %>
                </div>
            </div>
        <% end %>
        </div>
    <% end %>
</div>

