<!DOCTYPE html>
<html>
  <head>
    <title>ReceitaRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar has-background-danger mb-5" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="https://cdn-icons-png.flaticon.com/256/2934/2934108.png" alt="logo" width="40" height="28">
          <strong class="has-text-white ml-2">Receitas Rails</strong>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

    <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Receitas", user_system_revenues_path, class:"navbar-item has-text-white"%>
      <%= link_to "Categorias", user_system_categories_path, class:"navbar-item has-text-white"%>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons is-flex is-justify-content-center is-align-items-center">
          <%= link_to "Perfil", user_system_perfil_index_path, class: "button is-info"%>
          <%= button_to "logout", destroy_user_session_path, method: :delete, class: "button has-background-danger-dark has-text-white" %>
        </div>
      </div>
    </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
